body{
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(image.jpg);
    background-size: auto;
    background-position: left;
}
.login-box{
   max-width: 800px;
   float: none;
   margin: 50px auto;
    position: absolute;
    top: 80%;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(27 44 74 / 90%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,10);
    border-radius: 10px;
}
 
.login-left{
   background: rgba(211, 211, 211, 0.5);
   padding: 30px;
}

.login-right{
   background: #fff;
   padding: 30px;
}

.form-control{
   background-color: transparent !important;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #000000;
  border: none;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
 h1 { 
        margin: 3px auto; 
        text-align: top; 
        color: white; 
        font-size: 3em; 
        transition: 0.5s; 
        font-family: Arial, Helvetica, sans-serif; 
    } 
  
    h1:hover { 
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
                     0 3px 0 #ccc, 0 4px 0 #ccc, 
                     0 5px 0 #ccc, 0 6px 0 #ccc, 
                     0 7px 0 #ccc, 0 8px 0 #ccc, 
                     0 9px 0 #ccc, 0 10px 0 #ccc, 
                     0 11px 0 #ccc, 0 12px 0 #ccc, 
                     0 20px 30px rgba(0, 0, 0, 0.5); 
    } 


.wrapper{
    width: 1170px;
    margin: auto;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 1px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 10px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.btn{
    background: no-repeat;
    outline: none;
    border: 1px solid white;
    color: white;
    width: 10%;
    padding: 7px  15px;
    font-size: large;
   font-color:white;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}
.btn:hover{
    background: white;
    color: black;
}